html, body { margin: 0; padding: 0; }

body {
    padding: 2em 4em;
    background-color: #000;
    color: #fff;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

h1 { font-size: 1em;}
h2 { font-size: 0.9em;}

table {
    width: 100%;
    margin: 1em 0;
    border-collapse: collapse;
    border-radius: 3px;
}

th,
td {
    padding: 10px;
    border: 1px solid #fff;
}

tr th {
    text-align: left;
    background-color: #222;
}

tr {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #444;
}

tr:hover td {
    background-color: #545454;
}

tr:focus-within td {
    background-color: #937272;
}

a {
    color: #4f9fcf;
    text-decoration: underline;
}

a:hover {
    color: #ff9900;
    text-decoration: none;
}

img {
    max-width: 100px;
    height: auto;
    border: 2px solid #666;
}

img:hover {
    border-color: #fff;
}

input {
    width: 99%;
    font-size: 110%;
    font-family: ui-monospace, Courier New, monospace;
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: 1px solid #999;
    border-radius: 3px;
}

p {
    color: #fff;
    margin: 10px 0;
}

hr {
    height: 1px;
    border: 0;
    background-color: #333;
}

acronym {
    text-decoration: none;
    border-bottom: 1px dotted #777;
    cursor: help;
}

textarea {
    display: block;
    width: 98%;
    max-width: 1575px;
    min-width: 400px;
    min-height: 25px;
    max-height: 80px;
    font-size: 0.9em !important;
    margin: 0.5em 0 0 0;
    padding: 1%;
    background: #222;
    color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
}

.main {
    max-width: 1600px;
    margin: 0 auto;
}